{% extends 'base.html' %}

{% block title %}
<title>Welcome to MyList</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row" style="margin-top:14rem">
    <div class="col-md-10 offset-md-1">
      <center>
        <p class="h1 homeH1">
          Online to-do
          list app for
          work
          and daily life</p>
      </center>
      <center>
        <p class="h3 homeH3">MyList plans your day better and get your
          life organized.</p>
      </center>
      <center><a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-lg mt-5 getS">
            Get
            Started ></button></a></center>
    </div>

  </div>

</div>


{% endblock content %}