.editGreen {
  background-color: rgb(170, 223, 135);
  border-color: rgb(170, 223, 135);
  color: rgb(255, 255, 255)
}

.deleteGrey {
  background-color: #838383;
  border-color: #838383;
  color: white;
}

.addPurple {
  background-color: rgb(159, 85, 255);
  border-color: rgb(159, 85, 255);
  color: white;
}

.specialP {
  color: rgb(158, 112, 233);
}

.deeper {
  color: rgb(87, 24, 189);
}

.weightF {
  font-weight: 900;
  color: white;
}

.bgBlack {
  background-color:rgba(0, 0, 0, 0.555);
}

.decNone {
  text-decoration: none;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}