{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block title %}
<title>Login - MyList</title>
{% endblock title %}

{% block content %}
<div class="container">
  </br>
  <h1 class="mt-3 col-7" style="font-weight:bolder; color:white">Log in to Your Account</h1>
  {% if messages%}
  {% for message in messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert" style="color:white">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">
        &times;
      </span>
    </button>
  </div>

  {% endfor %}
  {% endif %}

  <form method="POST" class="mt-5 col-6 mb-3" style="color:white">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-3"
      style="background-color:rgb(85, 130, 255); border-color: rgb(85, 130, 255);">Login</button>
  </form>

  <p class="col-7 mb-5" style="color: rgb(255, 255, 255);">Don't have an account yet?<a href="{% url 'register' %}"
      style="color: rgb(140, 222, 255);"> Sign up</a>
  </p>
</div>
{% endblock content %}